{% extends 'layout.html.twig' %}

{% block title %}
   Interface Magasinier
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/projet.css') }}">
{% endblock %}
        
{% block body %}
    <ul>
        <li> <a href="{{ path('listproduit') }}">Liste des produits </a> </li>
        <li> <a href="{{ path('disconnect') }}">Ajout de produit </a> </li>
        <li> <a href="{{ path('disconnect') }}">Gestion des stocks </a> </li>
        <li> <a href="{{ path('disconnect') }}">Gestion des paniers </a> </li>
    </ul>
{% endblock %}